= render :partial => './haml_nav'

.container#edit-snippet-container
  %h3= 'Editing Info Snippet'

  = form_for @info, url: info_snippet_path(@info) do |i|
    = render partial: 'form_content', locals: {i: i}
