= render :partial => './haml_nav'

.container#edit-drug-container
  %h3= 'Edit Drug'

  .drug-form
    = form_for @drug, url: program_path(@drug) do |d|
      = render partial: 'form_content', locals: {d: d}
