= render :partial => './haml_nav'

.container#edit-drug-container
  %h3= 'New Drug'

  .drug-form
    = form_for @drug, url: programs_path do |d|
      = render partial: 'form_content', locals: {d: d}
