= render :partial => './haml_nav'

.container#edit-company-container
  = link_to 'Back', root_path
  %h3= 'New Company'

  .company-form
    = form_for @company, url: companies_path do |c|
      =render partial: 'form_content', locals: {c: c}
