.nav{'ng-controller' => 'nav_controller'}
  %a{:'ng-click' => 'show_all_companies()'}= 'Companies'
  %a{:'ng-click' => 'show_all_programs()'}= 'Programs'
  %a{:'ng-click' => 'show_all_conversations_and_tags()'}= 'Conversations'
