#snippets-container{:'ng-controller' => 'snippets_controller'}
  .row
    %h3= 'Conversations'
    %ul.no-style
      %li.info-snippet{:'ng-repeat' => 'i in info_snippets'}
        %a{:'ng-click' => "select_snippet(i.id)"}
          .subject{:'ng-show' => 'i.subject'}= "{{i.subject}}"
          = "{{i.text}}"

