.container{id: 'tags-container', 'ng-controller' => 'tags_controller'}
  %h3= 'Tags'
  .tags{'ng-repeat' => 'tag in tags'}
    {{tag.type}}:
    %a{:'ng-click' => "select_tag(tag.id)"}= "{{tag.name}}"
