.content{'ng-app' => 'app'}
  .nav
    = render :partial => 'nav'
  .container#snippets-main
    .span5#left_side
      = render :partial => 'tags'
    .span5#right_side
      = render :partial => 'snippets'
