= render :partial => 'nav'

.content
  %h1= 'All the tags!'
  %section{"ng-app" => "app"}
    .container{"ng-controller" => "tags_controller"}
      .tag_type
      .tags{"ng-repeat" => "tag in type"}
        {{tag.tag}}
