@import 'variables'

#company-financials
  li
    margin: $stdMargin*0.5 0
  .financial
    font-weight: bold

#product-pipeline
  a
    margin: 0

  table
    margin: $stdMargin*0.2 0

  .program-name
    width: 65px

  .program-tags
    a
      font-size: 0.7em
      line-height: 1.2fem
      text-align: center
      padding: 2px
      border: 1px solid $gray

    table
      border: none


