@import 'variables'

[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important

a
  cursor: pointer
  width: 50px
  margin: $stdMargin * 0.25
  padding: $stdPadding * 0.25
  color: $gray
  text-decoration: none

a:hover
  color: $blue
  text-decoration: none
  font-weight: 450

a:active
  color: $blue

.btn
  padding-right: $stdPadding
  text-align: left
  font-weight: bold

.no-style
  list-style-type: none

.preserve-style
  white-space: pre-wrap

.scrollable
  max-height: 10em
  overflow: auto

#bioinformatica-main
  display: block
  margin: 0px auto
  h3
    color: $orange
  ul
    margin-left: 0

  #stuff
    margin-top: 50px
