@import 'variables'

a
  cursor: pointer

a:link
  margin: 5px
  width: 50px
  padding: 5px
  color: $gray
  text-decoration: none

a:hover
  color: $orange

a:active
  color: $orange

.no-style
  list-style-type: none

