@import 'variables'

#nav
  a
    text-decoration: none
    height: auto

#edit-company-container, #edit-drug-container, #edit-tag-container, #edit-snippet-container
  h3
    margin-top: $stdMargin*3
    color: $orange
  .create-button
    margin-top: $stdMargin
  .tags-selection-container
    margin-left: $stdMargin
  .error-explanation
    color: $red
    margin-bottom: $stdMargin

