@import 'variables'

#snippets-container
  .info-snippet
    padding: $stdPadding
    margin: 20px 0
    border: 1px solid $gray
    .subject
      margin-top: -$stdMargin
      margin-bottom: $stdMargin * 0.5
      font-weight: bold
      color: black
    .event-date
      float: right
      font-size: 0.7em
